.card img {
  height: 250px;
  object-fit: cover;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.3s;
}

.trip-card.card:hover {
  transform: scale(1.05);
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.card .accordion-item {
  border: none;
}